{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'images/icons/bootstrap-icons.css' %} ">
{% endblock css %}

{% block  modal %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title custom-title">Adicionar novo lance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nomeLance" class="form-label">Nome do lance:</label>
            <input type="text" class="form-control" id="nomeLance" name="nomeLance" required oninvalid="this.setCustomValidity('Por favor, preencha o campo Nome do lance.')">
          </div>
          <div class="mb-3">
            <label for="anguloX" class="form-label">Ângulo em X:</label>
            <input type="number" step="0.01" class="form-control" id="anguloX" required>
          </div>
          <div class="mb-3">
            <label for="anguloY" class="form-label">Ângulo em Y:</label>
            <input type="number" step="0.01" class="form-control" id="anguloY" required>
          </div>
          <div class="mb-3">
            <label for="anguloInclinacao" class="form-label">Ângulo de inclinação:</label>
            <input type="number" step="0.01" class="form-control" id="anguloInclinacao" required>
          </div>
          <div class="mb-3">
            <label for="velocidadeRoloEsquerdo" class="form-label">Velocidade do rolo esquerdo:</label>
            <input type="number" min="0" max="100" class="form-control" id="velocidadeRoloEsquerdo" required>
          </div>
          <div class="mb-3">
            <label for="velocidadeRoloDireito" class="form-label">Velocidade do rolo direito:</label>
            <input type="number" min="0" max="100" class="form-control" id="velocidadeRoloDireito" required>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="salvarLance()">Salvar</button>
      </div>
      
    </div>
  </div>
</div>
<!-- Fim do Modal -->

{% endblock modal %}

{% block body %}
                <!-- Em cima da imagem do lança bolas -->
                <div class="col-lg-8 align-items-center" style="margin-top: 1%;">
                <!--############    Imagem do lançaBolas e respetivos valores     ###########-->
                <!--#########################################################################-->
                <div class="card">                                                                      <!--Inicio do card que abriga tudo-->
                    <div class="card-header">                                                           <!--Cabeçalho do card-->
                            <div id="div_container_but_settings">
                                <h6>
                                    <strong> Estado atual do lança bolas  </strong>    
                                </h6>

                                {% if showLogedIcons %}
                                    <a href="/settings"><button type="button" id="btn_settings"  class="btn btn-secondary float-right"><i class="bi bi-gear"></i></button></a>
                                {% else %}
                                {% endif %}

                                
                            </div>               
                            
                    </div>                                         
                    <div class="card-body">                                                             <!--Corpo do card-->
                      <p class="card-text">
                        <figure id="cont">
                            <img width="100%" src="{% static '/images/img_lancabolas.png' %}" />
                            <p class="figcaption" id="roloesq">0%</p>
                            <p class="rolodir" id="rolodir"> 0%</p>
                            <p class="inclinaang" id="RoloTorce"> 0º</p>
                            <p class="rotacao" id="id_rotacao"> 0º</p>
                            <p class="inclina" id="id_inclina"> 0º</p>
                            <p class="lbl_bolasLan" id="id_lbl_bolasLan"> 0</p>                                  
                        </figure>
                      </p>
                    </div>

                  </div>

                <!-- textos que são apresentados em cima da imagem -->
                
            </div>
            <!-- Segunda coluna(joystick mais serial port)-->
            <div class="col-lg-4 ">
                <p></p>


                
                <!-- Inclinação lançador -->
                <label for="customRange1" class="form-label">Inclinação lançador</label>
                <input type="range" min="1" max="100" value="50" class="form-range" id="id_inclinador">

                <!-- Joystick -->
                <div class="col-sm m-auto text-alg">
                    <div class="m-auto" id="joy1Div" style="width:200px;height:200px"></div>
                </div>

                <button type="button" class="btn btn-primary" onclick="btn_lancarBola()" id="btn_lancar_bola" style="margin: 1px;"><i class="bi bi-play"></i> Lançar bola</button>

                <p>{{SerialPort}}</p>
                <hr/>

                    <div class="row m-auto text-alg" style="width: 100%;" >
                        <div class="col-sm m-auto text-alg">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            <div class="panel panel-default rounded" style="background-color: rgb(42, 159, 255);">
                                                <div class="panel-heading"><strong>Rolo esquerdo</strong> </div>
                                                    <div class="panel-body">
                                                        
                                                        <button type="button" class="btn btn-primary" id="btn_rolesq_subir" style="margin: 1px;"> <i class="bi bi-arrow-up"></i> Subir velocidade</button>
                                                        <button type="button" class="btn btn-primary" id="btn_rolesq_descer" style="margin: 1px; margin-bottom: 5px;"><i class="bi bi-arrow-down"></i>Descer velocidade</button>
                                                        <div class="input-group mb-3">
                                                        <input type="text" id="inputValorID_rolEsq" class="form-control" placeholder="" aria-label="Atribuir velocidade" aria-describedby="basic-addon2">
                                                                <button class="btn btn-outline-secondary" type="button" id="buttonRoloEsq">Atribuir</button>
                                                        </div>
                                                    </div>
                                              </div>
                                        </td>
                                        <td>
                                            <div class="panel panel-default rounded" style="background-color: rgb(42, 159, 255);">
                                             <div class="panel-heading "><strong>Rolo direito</strong> </div>
                                                    <div class="panel-body">
                                                            <button type="button" class="btn btn-primary" id="btn_roldir_subir" style="margin: 1px;"><i class="bi bi-arrow-up"></i> Subir velocidade</button>
                                                            <button type="button" class="btn btn-primary" id="btn_roldir_descer" style="margin: 1px; margin-bottom: 5px;"><i class="bi bi-arrow-down"></i> Descer velocidade</button>
                                                            <div class="input-group mb-3">
                                                            <input type="text" id="inputValorID_rolDir" class="form-control" placeholder="" aria-label="Atribuir velocidade" aria-describedby="basic-addon2">
                                                            <button class="btn btn-outline-secondary" type="button" id="buttonRoloDir">Atribuir</button>
                                                    </div>
                                             </div>
                                             
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                    <button class="btn btn-success" type="button" onclick="createDialogToNewLance()" id="btn_AdicionarLance">Adicionar lance da posição atual</button>
          </div>        

{% endblock body %}

{% block nav-lances %}
<!-- empty -->
{% endblock nav-lances %}

{% block scripts %}
<!--JavaScripts-->
    <script src="{% static 'js/joy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajaxCalls.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}            
    
