{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'images/icons/bootstrap-icons.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock css%}

{% block modal %}
  <!-- Modal modo Auto e Modo Lance -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">                                                                            <!-- DIV CABEÇALHO -->
            <h5 class="modal-title" id="TituloModal"></h5>                                                          <!-- Titulo Modal -->
            
            <button type="button" class="btn-close active" id="btn_closeSuperior" data-bs-dismiss="modal"       
              aria-label="Close"></button>                                                                          <!-- botão X superior direito -->
          </div>

        <div class="modal-body" id="context_modal" style="text-align: left;">                                   <!-- CORPO MODAL -->
            <!--Informação do Body-->
              <div id="HR">                             
              </div>

              <div id="modelData_treino"> <b>Data da criação:</b> 12 de Setembro de 2022            
              </div>                                                                                                <!-- Inserido a: xxxxxx -->  
        
              <div> <span id="InformacaoLabel" style="font-weight: bold;">Lista de lances a executar:</span>
                <ol id="modelData_Exec_treino">
                </ol>
              </div>

              <div id="modelData_Cadencia" style="margin-bottom: 16px">Cadencia: 
              </div>

              <div id="modelData_timeleft">Tempo restante do treino: 
              </div>

              <div id="amostradorLance"> 
              </div>

              <br>
              <div id="modelData_Tiposelecao" > 
              </div>
              <br>
        </div>
        <div class="modal-footer" style="text-align: left;">
              <div id="id_treino" style="position: absolute; left: 15px;">Treino 1</div>
              <button type="button" class="btn btn-secondary active" id="btn_fecharModal"
              data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="btn_PauseResume" style="display:none">Pause</button>    <!-- Botão pausa, inicia escondido -->
              <button type="button" class="btn btn-primary" id="btn_iniciarTreino">Iniciar Treino</button>

        </div>
      </div>
    </div>
  </div>
  <!-- Fim do Modal -->

  <!-- Modal inserir lances -->
<div class="modal fade" id="modalLance" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title custom-title">Adicionar novo lance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nomeLance" class="form-label">Nome do lance:</label>
            <input type="text" class="form-control" id="nomeLance" name="nomeLance" required oninvalid="this.setCustomValidity('Por favor, preencha o campo Nome do lance.')">
          </div>
          <div class="mb-3">
            <label for="anguloX" class="form-label">Ângulo em X:</label>
            <input type="number" step="0.01" class="form-control" id="anguloX" required>
          </div>
          <div class="mb-3">
            <label for="anguloY" class="form-label">Ângulo em Y:</label>
            <input type="number" step="0.01" class="form-control" id="anguloY" required>
          </div>
          <div class="mb-3">
            <label for="anguloInclinacao" class="form-label">Ângulo de inclinação:</label>
            <input type="number" step="0.01" class="form-control" id="anguloInclinacao" required>
          </div>
          <div class="mb-3">
            <label for="velocidadeRoloEsquerdo" class="form-label">Velocidade do rolo esquerdo:</label>
            <input type="number" min="0" max="100" class="form-control" id="velocidadeRoloEsquerdo" required>
          </div>
          <div class="mb-3">
            <label for="velocidadeRoloDireito" class="form-label">Velocidade do rolo direito:</label>
            <input type="number" min="0" max="100" class="form-control" id="velocidadeRoloDireito" required>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="salvarLance()">Inserir na DB</button>
      </div>
      
    </div>
  </div>
</div>
<!-- Fim do Modal -->
{% endblock modal %}

{% block body %}
<!-- Corpo do contextInformaço-->
<div class="col-lg-12 align-items-center" id="ColunaContainer" style="margin-top: 1%;">

<!--Botão DropDown Adicionar-->
  <div class="dropdown" style="text-align: right; padding-right: 20px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAdicionar"
          data-bs-toggle="dropdown" aria-expanded="false">
          Adicionar
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" style="text-align: center;" aria-labelledby="dropdownAdicionar">
          <li class="dropdown-item " id="id_inserirLance" >Novo Lance</li>
          <li class="dropdown-item " id="id_inserirTreino" >Novo Treino</li>
      </ul>
  </div>
  <!--Fim do botão DropDown-->


  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
              data-bs-target="#nav-treino" type="button" role="tab" aria-controls="nav-home"
              aria-selected="true">Modo treino</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-lances"
              type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Executar lances
          </button>
      </div>
  </nav>
  <div class="tab-content" id="div-NaveBody">
      <div class="tab-pane fade show active" id="nav-treino" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <div class="bg-light" id="tituloListas_treinos">
            Lista de treinos configurados
          </div>
          <div class="table-responsive" style="margin: 10px;">
            <table class=" table table-sm table-striped" id="id_table" data-url={% url 'modoauto' %}>
              <!-- Chamada template django para receber o URL do name=index-->
              <thead>
                <tr>
                  <th scope="col" class="text-center">&nbsp; id</th>
                  <th scope="col" class="text-center">Nome</th>
                  <th scope="col" class="text-center">Cadencia</th>
                  <th scope="col" class="text-center">Tempo</th>
                </tr>
              </thead>
              <tbody id="tableTreinoBody">
                <!-- Contrução de cada linha da tabela, em cada linha é atribuido no HTML o ID da base de dados-->
                {% for treino in treinos %}
                <tr data-id="{{treino.id}}">
                  <th scope="row">&nbsp;{{treino.id}}</th>
                  <td>{{treino.nomeTreino}}</td>
                  <td>{{treino.cadenciaTreino}}</td>
                  <td>{{treino.tempoTreino}}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
       
<!--Fim da div -->
</div>


{% endblock body %}



{% block nav-lances %}

<!-- Table lances -->
<div class="tab-pane fade" id="nav-lances" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="bg-light" id="tituloListas_lances">
      Lista de lances configurados
    </div>
    <div class="table-responsive" style="margin: 10px;">
      <table class=" table table-sm table-striped" id="id_table2" data-url={% url 'modoauto' %}>
        <!-- Chamada template django para receber o URL do name=index-->
        <thead>
          <tr>
            <th scope="col" class="text-center">&nbsp; id</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">X</th>
            <th scope="col" class="text-center">Y</th>
            <th scope="col" class="text-center">Inclinação</th>
            <th scope="col" class="text-center">Rolo Esquerdo</th>
            <th scope="col" class="text-center">Rolo Direito</th>
          </tr>
        </thead>
        <tbody id="tableLanceBody">
          <!-- Contrução de cada linha da tabela, em cada linha é atribuido no HTML o ID da base de dados-->
          {% for lance in lances %}
          <tr data-id="{{lance.id}}">
            <th scope="row">&nbsp;{{lance.id}}</th>
            <td>{{lance.nomeLance}}</td>
            <td>{{lance.anguloX}}</td>
            <td>{{lance.anguloY}}</td>
            <td>{{lance.anguloInclinacao}}</td>
            <td>{{lance.velocidadeRoloEsq}}</td>
            <td>{{lance.velocidadeRoloDir}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
</div>

</div> <!-- Esta tag de fechamento pertence à primeira linha do corpo body!!!-->

{% endblock nav-lances %}

{% block scripts %}
<!-- JavaScript's -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.bundle.min.js' %}"></script>  <!-- Importação para funcionar o botão DropDown-->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        const dropdownElementList = document.querySelectorAll('.dropdown-toggle');
        const dropdownList = Array.from(dropdownElementList).map(function (dropdownToggleEl) {
          return new bootstrap.Dropdown(dropdownToggleEl);
        });
      });
    </script>
    <script type="text/javascript" src="{% static 'js/scriptAuto.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptconfigurador.js' %}"> </script>
    
{% endblock scripts %}

