body {
    background-color: rgb(220, 234, 245);
}

.custom-title {
    color: #3369ff; /* define a cor do texto para laranja */
    font-size: large; /* aumenta o tamanho da fonte para 24 pixels */
    text-align: center; /* centraliza o texto no modal */
    text-transform: uppercase; /* converte o texto para letras maiúsculas */
    font-weight: bold; /* adiciona negrito ao texto */
    text-shadow: 1px 1px 2px #cfcfcf; /* adiciona sombra ao texto */
  }

#div1 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

/* CSS do ModalTreino */
#TituloModal{
    color:rgb(0, 76, 255);
    font-weight: bold;
}

#modelData_timeleft{
    position: relative;
}

#label_percentagem{
    position: absolute;
    top: 40px;
    right: 5px;
}

#modelData_treino{
    position: absolute;
    top: 10px;
    left: 15px;
    
}

#modelData_Tiposelecao{
    position: absolute;
    bottom: 10px;
    left: 15px;
}

#modelData_Cadencia{
    margin-bottom: 5px;
}

.lbBold{
    font-weight: bold;
}

#ColunaContainer{
    position: relative;
}

#botaoDropDown{
  position: absolute;
  top: 0px;
  right: -78px;
  width: 200px;
  height: 100px;
}
#nav-treino, #nav-lances{
    border-width: 1px;
    border-style: solid;
    border-top: 0px;
    border-color: gainsboro;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#tituloListas_lances,#tituloListas_treinos{
    margin:8px;
    margin-top: 0px;
    padding: 15px;
    padding-top: 10px;
    font-style: normal;
    font-size: larger;
    text-align: center;
    color: black;
    
}

tbody>tr:nth-child(even):hover{
    background-color: rgb(153, 189, 255);    
    color: rgb(46, 46, 46);
    cursor: pointer;
}
tbody>tr:nth-child(odd):hover{
    background-color: rgb(153, 189, 255);    
    color: rgb(46, 46, 46);
    cursor: pointer;
}

#div_container_but_settings{
    padding-top: 9px;
    position: relative;
}

#btn_settings{
    position: absolute;
    top: 0px;
    right: -5px;
}

#bgimg {
    text-align: center;
    width: 100%;
    height: 100%;
}

#espacamento_topo {
    height: 5px;
}

#cont {
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    
}

#cont .figcaption {
    position: absolute;
    top: 18.5%;
    left: 24%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0px 0px 5px black;
    
}

/*Style da caixa de texto que fica por cima da imagem, eleva os rolos*/
#id_rotacao{
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(147, 255, 147);
    border-style: solid;
    width: 50px;
    height: 30px;
    vertical-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 8px;
}

/*Style da caixa de texto que fica por cima da imagem, torce os rolos*/
#RoloTorce{
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(147, 255, 147);
    border-style: solid;
    width: 50px;
    height: 30px;
    vertical-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 8px;
}


/*Style da caixa de texto que fica por cima da imagem, inclina os rolos*/
#id_inclina{
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(147, 255, 147);
    border-style: solid;
    width: 50px;
    height: 30px;
    vertical-align: center;
    text-align: center;
    text-shadow: 8px;
}

#id_lbl_bolasLan{
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(124, 114, 255);
    border-style: solid;
    width: 68px;
    height: 35px;
    vertical-align: center;
    text-align: center;
    text-shadow: 8px;
}


#cont .rolodir {
    position: absolute;
    top: 18.5%;
    left: 81%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0px 0px 5px black;
}

#cont .inclinaang {
    position: absolute;
    top: 40.5%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0px 0px 5px black;
}

#cont .rotacao {
    position: absolute;
    top: 56.5%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0px 0px 5px black;
}

#cont .inclina {
    position: absolute;
    top: 65.5%;
    left: 29.5%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0px 0px 5px black;
}

#cont .lbl_bolasLan {
    position: absolute;
    top: 18.5%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 0px 0px 5px black;
}





.text-alg{
    text-align: center;
}

.margem3porcento{
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}

#inputValorID_rolEsq{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inputValorID_rolDir{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Alteração dos atributos ao button na no Rolo Esquerdo*/
.btn-outline-secondary{
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

/*css auxiliares*/

.color-green {
    background-color: green;
}

.color-red {
    background-color: red;
    
}

.color-grey {
    background-color: grey;
    border-color: azure;
    border-width: 1px;
    border-style: solid;
    box-shadow: 10px;
    border-radius: 5px;
    text-align: center;
}

.height-50px {
    height: 50px;
}

.height-100px {
    height: 100px;
}
#txt_logado{
    color: aliceblue; 
    text-align: right;
}


